@typeparam T

<div class="listview">

    @if (Items != null)
    {
        foreach (var item in Items)
        {
            bool _isSelected = item.Equals(SelectedItem);
            <div class="ms-depth-4 card @(_isSelected ? "selected" : "")" @onclick="() => ItemClick(item)">
                @ItemTemplate(item)
            </div>
        }
    }

</div>


@code {

}
