
<div class="row">
    <div class="col-3 m-2">
        <button class="btn btn-success" @onclick="ToggleForm">+</button>
    </div>
    <div class="col-3 m-2">
        <button class="btn btn-danger" disabled="@(_selectedModel == null)">Remove</button>
    </div>
    <div class="col-3 m-2">
        <button class="btn btn-primary" @onclick="SaveAsync">Save</button>
    </div>
</div>

@if (_isFromShown)
{
    <div class="row">
        <WorkItemForm OnFormSubmitted="OnFormSubmitted" Model="_selectedModel" />
    </div>
}

<div class="row">
    <div class="col-12">
        <ListView T="WorkItem" Items="_workItems" SelectedItemChanged="SelectWorkItem" >
            <ItemTemplate>
               <WorkItemCard WorkItem="@context" />
            </ItemTemplate>
        </ListView>
    </div>
</div>
